extends template

block title
	title 伺服器列表

block content
	include header
	.container
		.row
			.col
				.card
					.card-body
						h5.card-title.mb-2.text-muted 快速新增伺服器<small>（注意：輸入的資料要經過審核後才會顯示在列表中）</small>
						form(action="/", method="post")
							.form-row.align-items-center
								.col
									input(type="text", placeholder="伺服器名稱", required).form-control
								.col
									input(type="text", placeholder="連線位置", required).form-control
								.col-auto
									button.btn.btn-primary.form-control(type="submit") 新增
		.row
			.col
				table.table.table-hover
					tr
						th #
						th 伺服器名稱
						th 伺服器 IP
						th 伺服器版本
						th 狀態
						th 玩家數量
						th 細節
					each s, index in server
						if(s.display)
							tr
								td= index+1
								td= s.name
								td= s.host
								td= s.ver
								if s.online
									td.text-success 在線
								else
									td.text-danger 離線
								td= s.players + "/" + s.maxplayers
								td: a.btn.btn-primary.btn-xs(href= "/" + s.id) 查看
